@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Beer>

<h1>Cervezas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>otras</th>
        </tr>
    </thead>

    <tbody>
        @foreach( var beer in Model)
        {
            <tr>
                <td> 
                    @Html.DisplayFor( m => beer.Name)
                </td>
                <td>
                    @Html.DisplayFor( m=>beer.Brand.Name)
                </td>
            </tr>
        }
    </tbody>

</table>
